<?xml version="1.0" encoding="UTF-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ url('homepage') }}">
    <title>{{ app.config.get('general/sitename') }}</title>
    <subtitle>{{ app.config.get('general/payoff') }}</subtitle>
    <link href="{{ url('homepage') }}"/>
    <language>{{ htmllang()|lower }}</language>
    <generator>Bolt</generator>
    <generator uri="http://bolt.cm/" version="1.0">Bolt CMS</generator>
    {%- for record in records %}
    {%- set user = app.users.getUser(record.ownerid) %}

        <entry>
            <title xml:lang="{{ htmllang() }}">{{ record.title|striptags }}</title>
            <link href="{{ url('contentlink', { 'contenttypeslug': record.contenttype.singular_slug, 'slug': record.slug } ) }}"/>
            <published>{{ record.datepublish|date("r") }}</published>
            <author>
                <name>{{ user.displayname|default('unknown') }}</name>
                <email>{{ user.email|default('unknown') }}</email>
            </author>
            <id>{{ record.contenttype.singular_slug }}-{{ record.id }}</id>
            {% if record.taxonomy is iterable %}
                {%- for taxonomyname, taxonomy in record.taxonomy %}
                    {%- for taxonomyvalue in taxonomy %}
            <category domain="{{ taxonomyname }}"><![CDATA[ {{ taxonomyvalue }} ]]></category>
                    {%- endfor %}
                {%- endfor %}
            {%- endif -%}
            <summary xml:lang="{{ htmllang() }}">
                {{ record|rss_safe('teaser', 50, false) }}
            </summary>
            <content xml:lang="{{ htmllang() }}">
                {{ record|rss_safe('body', content_length, false) }}
            </content>
            {%- if record.image is not empty %}

            <link rel="image" href="{{ absolute_url(thumbnail(record.image, 600, 400)) }}"/>
            <link rel="enclosure" href="{{ absolute_url(thumbnail(record.image, 600, 400)) }}"/>

            {%- endif %}

        </entry>

{%- endfor %}

</feed>
