<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xml:base="{{ url('homepage') }}">
    <channel>
        <title>{{ app.config.get('general/sitename') }}</title>
        <atom:link href="{{ canonical() }}" rel="self" type="application/rss+xml"/>
        <link>{{ url('homepage') }}</link>
{% if app.config.get('general/payoff') is defined %}
        <description>{{ app.config.get('general/payoff') }}</description>
{% endif %}
        <language>{{ htmllang()|lower }}</language>
        <generator>Bolt</generator>
{% for record in records %}
{% set user = app.users.getUser(record.ownerid) %}
            <item>
                <title>{{ record.title|striptags }}</title>
                <link>{{ url('contentlink', { 'contenttypeslug': record.contenttype.singular_slug, 'slug': record.slug } ) }}</link>
                <pubDate>{{ record.datepublish|date("r") }}</pubDate>
                <author>{{ user.email|default('unknown') }} ({{ user.displayname|default('unknown') }})</author>
                <guid isPermaLink="false">{{ record.contenttype.singular_slug }}/{{ record.id }}</guid>
{% if record.taxonomy is iterable %}
    {%- for taxonomyname, taxonomy in record.taxonomy %}
        {%- for taxonomyvalue in taxonomy %}
                <category domain="{{ taxonomyname }}"><![CDATA[ {{ taxonomyvalue }} ]]></category>
        {%- endfor %}
    {%- endfor %}
{%- endif %}
                <description>
                {%- if content_length == 0 -%}
                    {{ record|rss_safe('teaser, body') }}
                {%- else -%}
                    {{ record|rss_safe('teaser, body', content_length) }}
                {%- endif -%}
                </description>
{% if record.image is not empty %}
                <image>{{ absolute_url(thumbnail(record.image, 600, 400)) }}</image>
                <enclosure url="{{ absolute_url(thumbnail(record.image, 600, 400)) }}" type="image/jpeg" />
{% endif %}
            </item>
{% endfor %}
    </channel>
</rss>
